<div class="container">
  <h1>Proyecto IA</h1>
</div>
<app-carousel></app-carousel>

<section>
  <div class="">
    <div class="container">
      <div class="row py-5">
        <div class="col-sm-12 text-center px-5">
          <p class="text-black">
            Lorem Ipsum es simplemente un texto ficticio de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto ficticio estándar de la industria desde el año 1500, cuando un impresor desconocido tomó una galera de tipos y la codificó para hacer un libro de muestras tipográficas. Ha sobrevivido no solo cinco siglos, sino también el salto a la composición tipográfica electrónica, permaneciendo esencialmente sin cambios.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid row">
  <section class="col-sm-12 col-md-8">
    <div class="mx-5">
      <iframe class="mx-5" width="700" height="330" src="https://www.youtube.com/embed/0V4Eygf6rus" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>

  <aside class="col-sm-12 col-md-4">
    <div class="text-dark">
      <h3>¿De dónde viene?</h3>
      <p class="text-justify">Contrariamente a la creencia popular, Lorem Ipsum no es simplemente un texto aleatorio. Tiene sus raíces en una pieza de la literatura latina clásica del 45 a. C., por lo que tiene más de 2000 años. Richard McClintock, profesor de latín en Hampden-Sydney College en Virginia, buscó una de las palabras latinas más oscuras, consectetur, en un pasaje de Lorem Ipsum, y al revisar las citas de la palabra en la literatura clásica, descubrió la fuente indudable. Lorem Ipsum proviene de las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" (Los extremos del bien y del mal) de Cicerón, escrito en el 45 a. Este libro es un tratado de teoría de la ética, muy popular durante el Renacimiento.</p>
    </div>
  </aside>
</div>



<section>
<div class="bg-white">
  <div class="container">
    <div class="row py-5">
      <div class="col-sm-12 text-center">
        <span class="text-capitalize text-dark fs-1">La <span class="fw-bold">inteligencia artificial</span> de nuestro lado.</span>
      </div>
    </div>
  </div>
</div>
</section>



<section>
  <div class="bg-dark bg-opacity-75 py-5">
    <div class="container ">
      <h4 class="text-center text-white pb-3">Testimoniales</h4>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Angela Rosa</h5>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">David Martinez</h5>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Daniela Perez</h5>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="bg-dark text-center text-lg-start text-white">
  <div class="container p-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.584767264256!2d-74.79327388581586!3d10.994681758135016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d79edefa4cd%3A0xf3319c85091de109!2sCl.%2058%20%2355-66%2C%20Nte.%20Centro%20Historico%2C%20Barranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses!2sco!4v1667794437621!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacto</h5>

        <ul>
          <li>Email: qwert@gmail.com</li>
          <li>T&eacute;lefono: (000)00000</li>
          <li>Direcci&oacute;n: Cl. 58 #55 - 24 A, Nte. Centro Historico, Barranquilla, Atlántico</li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Redes sociales</h5>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: AGB
  </div>
</footer>
